<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Aleks Kocev - Resume</title>
	<meta name="description" content="Aleks Kocev - Creative Content Producer Resume" />
	<meta name="keywords" content="Aleks, Kocev, resume, 2020, creative, director, creative, content, producer, Photographer, photography, directing />
		<meta name=" author" content="Resume" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109070326-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109070326-3');
</script>


	<!--Favicon-->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<!--Fonts-->
	<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600'
		rel='stylesheet' type='text/css'>

	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body id="body" data-ng-app="contactApp">

	<!--Fixed Bg Image-->
	<div class="fixed-bg"></div>
	<div class="fixed-bg-overlay"></div>
	<!--/Fixed Bg Image-->

	<!--Preloader-->
	<div id="pre_load" class="preloader-it">
		<div id="la_anim" class="la-anim-1"></div>
	</div>
	<!--/Preloader-->

	<!--Container-->
	<div class="container-fluid">
		<div class="row">
			<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">

				<!--Navigation-->
				<nav class="navbar navbar-default vertical-nav" role="navigation">
					<div class="navbar-header">
						<button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse"
							data-target="#navbar_collapse">
							<span class="mask"></span>
							<span class="btn-label">
								<span class="pe-7s-menu"></span>
							</span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="navbar_collapse">
						<ul class="nav navbar-nav">
							<li><a data-scroll href="#body"></a><span>about</span></li>
							<li><a data-scroll href="#services_sec"></a><span>services</span></li>
							<li><a data-scroll href="#skill_sec"></a><span>skills</span></li>
							<li><a data-scroll href="#work_sec"></a><span>work</span></li>
							<li><a data-scroll href="#edu_sec"></a><span>education</span></li>
							<li><a data-scroll href="#exp_sec"></a><span>experience</span></li>
							<li><a data-scroll href="#client_sec"></a><span>clients</span></li>
							<!-- <li><a data-scroll href="#achivement_sec"></a><span>achivements</span></li> -->
							<li><a data-scroll href="#contact_sec"></a><span>contact</span></li>
						</ul>
					</div>
				</nav>
				<!--/Navigation-->

			</div>
			<div class="col-lg-8 col-xs-12 pad-zero">

				<!--Header-->
				<header>
					<div class="header-wrap col-lg-10 center-div">
						<div class="float-left name">
							<a data-scroll href="#body">
								<span>
									ALEKS KOCEV
								</span>
							</a>
						</div>
						<div class="float-right social-download-wrap">
							<a href="https://www.thisisaleks.com/img/AK_Resume.pdf" target="_blank"
								class="btn btn-default float-left">
								<span class="mask"></span>
								<span class="btn-label">
									<strong>download resume</strong>
									<span class="icon pe-7s-download"></span>
								</span>
							</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</header>
				<!--/Header-->

				<!--Main Content-->
				<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">

					<!--Introduction Sec-->
					<section id="intro_content_sec"
						class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
						<div class="person-img margin-bottom-xs"></div>
						<h1>
							Hey!<span id="typed"></span>
						</h1>
						<h6>
							A little bit about me
						</h6>
						<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
							I'm a <strong>Creative Content Producer</strong> with over <em>8 years of experience</em> in
							the
							commercial agency space.</p>
						<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
							As a native to Los Angeles, growing up in the arts and entertainment community for most of
							my
							life has shaped the lens through which I view and approach projects. My work has taken me to
							the
							far reaches of the globe working on location from studios in Los Angeles to the Himalayan
							Mountains. I've commanded crews as large as forty, and humble crews as small as six.
							This has taught me how to effectively lead teams and tell narratives no matter the
							constraints
							or project limitations. My hard work and relationships have blessed me to have worked on
							commercial projects for brands such as <strong>Google</strong>,
							<strong>Apple</strong>, <strong>Vimeo</strong>,
							<strong>Toyota</strong>, <strong>IMAX</strong>,
							<strong>Samsung</strong>,
							<strong>Slack</strong>, <strong>VICE</strong>, <strong>NOS</strong>, <strong>The UPS
								Store</strong>, <strong>Major League Soccer</strong>, <strong>Slack</strong>,
							<strong>Discover LA</strong>
							, <strong>Onnit</strong>, and many more. Solving problems unique to each one of these brand
							campaigns has shaped my ability to be flexible,
							focused on delivery, while also always aligned to the creative vision. </p>
						<div>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								When I'm not devoted to my craft, I spend my time with my wife and two kids in Culver
								City or
								in the great outdoors rock climbing and spearfishing off the coast.</p>
						</div>
						<p class="wow fadeInUp" data-wow-duration=".4s">
							I am a complete social animal. Find my work on <a class="goto-social"
								href="https://vimeo.com/alekskocev" target="_blank">Vimeo</a> & <a
								href="https://github.com/Alekskocev" class="goto-social" target="_blank">Github</a>.
							Experience my photography skills on <a href="https://www.instagram.com/alekskocev/"
								class="goto-social" target="_blank">Instagram</a> & <a class="goto-social"
								href="https://www.alekskocev.com/" target="_blank"> My Website</a>.
						</p>
						<div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
							<img class="img-responsive" src="img/signature.png" alt="signature" />
						</div>
					</section>
					<!--/Introduction Sec-->

					<hr class="separater-hr" />

					<!--WhatWeDo Sec-->
					<section id="services_sec"
						class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
						<h6>what i do</h6>
						<div class="row">
							<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft"
								data-wow-duration=".4s" data-wow-delay="0s">
								<span class="icon pe-7s-album"></span>
								<span class="key-fact">
									PRODUCTION
								</span>
							</div>
							<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft"
								data-wow-duration=".4s" data-wow-delay=".1s">
								<span class="icon pe-7s-video"></span>
								<span class="key-fact">
									PHOTOGRAPHY
								</span>
							</div>
							<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft"
								data-wow-duration=".4s" data-wow-delay=".2s">
								<span class=" icon pe-7s-display1"></span>
								<span class="key-fact">
									POST PRODUCTION
								</span>
							</div>
							<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft"
								data-wow-duration=".4s" data-wow-delay=".3s">
								<span class="icon pe-7s-browser"></span>
								<span class="key-fact">
									WEB DEVELOPMENT
								</span>
							</div>
						</div>
					</section>
					<!--/WhatWeDo Sec-->

					<hr class="separater-hr" />

					<!--Skills Sec-->
					<section id="skill_sec"
						class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
						<h6>FILM PRODUCTION SKILLSET</h6>
						<p class="wow fadeInUp" data-wow-duration=".4s">As someone who started in post production
							working on major features I knew there was more I could creatively offer. I left the
							traditional path and explored my creativity as a freelancer working with various agencies.
							Today, my knack for critical thinking, team work, and creativity allows me to create viable
							and
							impactful stories for brands.</p>
						<div class="row margin-top-40">
							<div class="col-sm-5 margin-bottom-sm">
								<span class="progress-cat">Directing Commercial and Documentary Production</span>

								<div class="progress-bar-wrap">
									<div class="bar-wrap">
									</div>

								</div>
							</div>
							<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
								<span class="progress-cat">Pre-production scheduling and creative treatments</span>

								<div class="progress-bar-wrap">
									<div class="bar-wrap">
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-5 margin-bottom-sm">
								<span class="progress-cat">Production Budgeting and Crew Layout</span>

								<div class="progress-bar-wrap">
									<div class="bar-wrap">
									</div>
								</div>
							</div>
							<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
								<span class="progress-cat">Post Production workflow using Adobe Creative Suite &
									Davinchi Resolve Across
									multiple social platforms</span>
								<div class="progress-bar-wrap">
									<div class="bar-wrap">
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<h6>PHOTOGRAPHY SKILLSET</h6>
						<div class="row margin-top-40">
							<div class="col-sm-5 margin-bottom-sm">
								<span class="progress-cat">Shooting for billboard and print formats</span>

								<div class="progress-bar-wrap">
									<div class="bar-wrap">
									</div>

								</div>
							</div>
							<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
								<span class="progress-cat">Lighting expertise in studio and on location</span>

								<div class="progress-bar-wrap">
									<div class="bar-wrap">
									</div>

								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-5 margin-bottom-sm">
								<span class="progress-cat">Post production in Adobe Photoshop & Lightroom</span>

								<div class="progress-bar-wrap">
									<div class="bar-wrap">
									</div>

								</div>
							</div>
							<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
								<span class="progress-cat">Expertise in complex photography setups such as
									timelapse, drone, and medium format cameras</span>

								<div class="progress-bar-wrap">
									<div class="bar-wrap">
									</div>

								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<h6>WEB DEVELOPMENT SKILLS</h6>
						<div class="row margin-top-40">
							<div class="col-sm-5 margin-bottom-sm">
								<span class="progress-cat">HTML 5</span>

								<div class="progress-bar-wrap">
									<div class="bar-wrap">
									</div>

								</div>
							</div>
							<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
								<span class="progress-cat">CSS 3</span>

								<div class="progress-bar-wrap">
									<div class="bar-wrap"></div>
								</div>

							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-5 margin-bottom-sm">
							<span class="progress-cat">Javascript</span>

							<div class="progress-bar-wrap">
								<div class="bar-wrap">
								</div>

							</div>
						</div>
						<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
							<span class="progress-cat">GIT & GITHUB</span>

							<div class="progress-bar-wrap">
								<div class="bar-wrap">
								</div>

							</div>
						</div>
						<div class="clearfix"></div>
				</div>
				</section>
				<!--/Skills Sec-->

				<hr class="separater-hr" />

				<!--Work Sec-->
				<section id="work_sec" class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
					<h6>My Work</h6>
					<div class="portfolio-wrap project-gallery padding-sec-lg">
						<ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">
							<li class="item" data-src="https://vimeo.com/201051999" data-poster="img/mock1.jpg"
								data-sub-html="<h6>Prius Prime for Toyota</h6><p>An 8 Second spot directed for Saatchi & Saatchi for Toyota</p>">
								<a href="">
									<img class="img-responsive" src="img/mock1.jpg" alt="Prius Prime for Toyota" />
									<span class="hover-cap">Prius Prime for Toyota</span>
								</a>
							</li>
							<li class="item" data-src="https://vimeo.com/276503057" data-poster="img/mock2.jpg"
								data-sub-html="<h6>Discover LA - Malaika Arora</h6><p>Malaika Arora for Discover LA Campaign in India.  Directed by Aleks Kocev</p>">
								<a href="">
									<img class="img-responsive" src="img/mock2.jpg"
										alt="Malaika Arora for Discover LA" />
									<span class="hover-cap">Discover LA</span>
								</a>
							</li>
							<li class="item" data-src="https://vimeo.com/153795860" data-poster="img/mock3.jpg"
								data-sub-html="<h6>The Grill Iron Season 2 - Tastemade</h6><p>The Grill Iron Season 2 by Hyundai</p>">
								<a href="">
									<img class="img-responsive" src="img/mock3.jpg" alt="The Grill Iron Season 2" />
									<span class="hover-cap">The Grill Iron</span>
								</a>
							</li>
							<li class="item" data-src="https://vimeo.com/395510196" data-poster="img/mock4.jpg"
								data-sub-html="<h6>Tommy Hilfiger - Tommy Adaptive Doc</h6><p>Tommy Hilfiger Adaptive</p>">
								<a href="">
									<img class="img-responsive" src="img/mock4.jpg" alt="Tommy Hilfiger Adaptive" />
									<span class="hover-cap">Tommy Hilfiger</span>
								</a>
							</li>
							<li class="item" data-src="https://vimeo.com/386800436" data-poster="img/mock5.jpg"
								data-sub-html="<h6>One Breath - The story of Lance Lee Davis</h6><p>One Breath Teaser.  The documentary on freediver Lance Lee Davis</p>">
								<a href="">
									<img class="img-responsive" src="img/mock5.jpg" alt="One Breath" />
									<span class="hover-cap">One Breath</span>
								</a>
							</li>
							<li class="item" data-src="https://vimeo.com/187382165" data-poster="img/mock6.jpg"
								data-sub-html="<h6>Vice Sports - Darkness Before Dawn</h6><p>The story of MMA fighter Ryan Lang.  Once the #1 wrestler in the country, Ryan became a drug addict and homeless.  Through finding sobriety he's able to return to competition once again.</p>">
								<a href="">
									<img class="img-responsive" src="img/mock6.jpg"
										alt="Vice Sports - Darkness Before Dawn" />
									<span class="hover-cap">Vice Sports - Darkness Before Dawn</span>
								</a>
							</li>
							<li class="item" data-src="https://www.thisisaleks.com/img/IMG_0314.jpg"
								data-sub-html="<h6>NOS Energy</h6><p>An Activation and billboard campaign for Nos Energy Drink</p>">
								<a href="">
									<img class="img-responsive" src="img/IMG_0314.jpg" alt="NOS Energy" />
									<span class="hover-cap">NOS Energy</span>
								</a>
							</li>
							<li class="item" data-src="img/DSC02264.jpg"
								data-sub-html="<h6>NOS Dirt Meets Drift</h6><p>Promotional print photography for NOS Energy Drinks Dirt Meets Drift</p>">
								<a href="">
									<img class="img-responsive" src="img/DSC02264.jpg" alt="NOS Dirt Meets Drift" />
									<span class="hover-cap">NOS Dirt Meets Drift</span>
								</a>
							</li>
							<li class="item" data-src="https://www.thisisaleks.com/img/imax-hero-01.jpg"
								data-sub-html="<h6>IMAX VR Billboard Campaign</h6><p>Promotional photoshoot for IMAX VR Centers</p>">
								<a href="">
									<img class="img-responsive" src="https://www.thisisaleks.com/img/imax-hero-01.jpg"
										alt="IMAX VR" />
									<span class="hover-cap">IMAX VR</span>
								</a>
							</li>
							<li class="item" data-src="https://www.thisisaleks.com/img/DSC09647.jpg"
								data-sub-html="<h6>Samsung Chromebook Campaign</h6><p>Samsung Chromebook print campaign in Korea</p>">
								<a href="">
									<img class="img-responsive" src="img/DSC09647.jpg" alt="Samsung Chromebook" />
									<span class="hover-cap">Samsung Chromebook</span>
								</a>
							</li>
							<li class="item" data-src="https://www.thisisaleks.com/img/DSC07368.jpg"
								data-sub-html="<h6>Onnit</h6><p>A Series of campaign images for ONNit</p>">
								<a href="">
									<img class="img-responsive" src="img/DSC07368.jpg" alt="Onnit" />
									<span class="hover-cap">Onnit</span>
								</a>
							</li>
							<li class="item" data-src="https://www.thisisaleks.com/img/DSC04481.jpg"
								data-sub-html="<h6>Publix</h6><p>Campaign for Publix Supermarket Chain</p>">
								<a href="">
									<img class="img-responsive" src="img/DSC04481.jpg" alt="Publix" />
									<span class="hover-cap">Publix</span>
								</a>
							</li>
						</ul>

						<!-- Hidden video div -->
						<div style="display:none;" id="video1">
							<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
								<source src="videos/video1.mp4" type="video/webm">
								<source src="videos/video1.webm" type="video/webm">
								Your browser does not support HTML5 video.
							</video>
						</div>
					</div>
				</section>
				<!--/Work Sec-->

				<hr class="separater-hr" />

				<!--Qualfication Sec-->
				<section id="edu_sec" class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
					<h6>education</h6>
					<p class="wow fadeInUp" data-wow-duration=".4s">
						I spent 4 years studying for my Bachelors Degree in Digital Media from Otis College of Art &
						Design before I was headhunted
						by Sony Pictures to work with their VFX team on Green Lantern. Soon after I left and started
						working for smaller VFX houses before striking out on my own and
						working independently as a freelance photographer and director. Since then
						I've stopped learning new skills, both in my personal and professional life.
					</p>
					<div class="qualfication-wrap">
						<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
							<div class="col-sm-2">
								<span class="row-count"><span>1</span></span>
							</div>
							<div class="col-sm-2">
								<span class="yr-pers vertical-align-pad">2006-2010</span>
							</div>
							<div class="col-sm-5">
								<span class="insti vertical-align-pad">Otis College of Art and Design, Los
									Angeles</span>
							</div>
							<div class="col-sm-3">
								<span class="design vertical-align-pad">
									BFA in Digital Media
								</span>

							</div>
				</section>
				<!--/Qualfication Sec-->

				<hr class="separater-hr" />

				<!--Experience Sec-->
				<section id="exp_sec" class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
					<h6>experience</h6>
					<div class="exp-timeline-wrap">
						<div class="row exp-timeline timeline-active">
							<div class="col-xs-2">
								<div class="timeline-st"></div>
							</div>
							<div class="col-xs-10 exp-content-wrap">
								<div class="row">
									<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
										<div class="col-sm-3 duration"><span>Jan 2018 - present</span></div>
										<div class="col-sm-9">
											<span class="job-desn">Commercial & Documentary Director</span>
											<span class="job-loc">Los Angeles, CA
											</span>
											<p class="job-summary p-small">As a director you have to know the entire
												process from start to finish no matter what discipline you take in
												film. I've participated in all stages of the
												filmmaking process from pre-production to final edit and release. A
												large portion of my job in pre-production is to work with agencies
												to produce pitchdecks for awarded projects, and
												make sure deadlines in post production were met.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row exp-timeline">
							<div class="col-xs-2">
								<div class="timeline-st"></div>
							</div>
							<div class="col-xs-10 exp-content-wrap">
								<div class="row">
									<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
										<div class="col-sm-3 duration"><span>Jul 2013 — Present</span></div>
										<div class="col-sm-9">
											<span class="job-desn">Commercial Photographer</span>
											<span class="job-loc">Los Angeles, CA
											</span>
											<p class="job-summary p-small">As a commercial photographer with an
												understanding of post production I'm aware
												of what is possible with a lot of
												resources, or very little. I've learned how to
												direct talent and work with clients to produce billboards under
												tight deadlines. A huge portion of my job is pitching clients and
												producing decks for
												agencies. Through that process I learned that it takes a village to
												make a project happen, so most of all a leader needs to be a
												team player.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row exp-timeline">
							<div class="col-xs-2">
								<div class="timeline-st"></div>
							</div>
							<div class="col-xs-10 exp-content-wrap">
								<div class="row">
									<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.4s">
										<div class="col-sm-3 duration"><span>Mar 2012 – Jul 2013</span></div>
										<div class="col-sm-9">
											<span class="job-desn">Staff Photographer - Billy Farrell Agency
											</span>
											<span class="job-loc">New York City, NYC
											</span>
											<p class="job-summary p-small">As a photographer my primary
												responsibility was to shoot and turn around assets in a fast paced
												environment.
												I traveled mainly to New York and Paris to provide coverage for high
												end events such as Fashion week.
												This often involved working with clients from all walks of life
												to get the job done.
												My time at BFA set the ground work to really understand the
												fundamentals of photography and create beautiful
												images in less than ideal conditions.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row exp-timeline">
							<div class="col-xs-2">
								<div class="timeline-st"></div>
							</div>
							<div class="col-xs-10 exp-content-wrap">
								<div class="row">
									<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
										<div class="col-sm-3 duration"><span>May 2010 – Jan 2012</span></div>
										<div class="col-sm-9">
											<span class="job-desn">CG Generalist
											</span>
											<span class="job-loc">Lost Angeles, California
											</span>
											<p class="job-summary p-small">I've worked on several shows as a VFX
												Generalist including but not limited to "Green Lantern," "The Social
												Network," "Captain America - The First Avenger."
												All of these shows required me to work collaborratively to meet tight
												deadlines in a
												team environment while problem solving issues and delivering assets on
												time.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--/Experience Sec-->

				<hr class="separater-hr" />

				<!--Client Sec-->
				<section id="client_sec"
					class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap  sec-pad wow bounceIn"
					data-wow-duration=".4s">
					<h6>Companies I've worked with</h6>
					<div class="client-carousel">
						<img src="img/client1.png" alt="Apple">
						<img src="img/client2.png" alt="Toyota">
						<img src="img/client3.png" alt="Vice">
						<img src="img/client4.png" alt="Samsung">
						<img src="img/client5.png" alt="Salesforce">
						<img src="img/client6.png" alt="IMAX">
					</div>
				</section>
				<!--/Client Sec-->

				<hr class="separater-hr" />

				<!--Achivement Sec-->
				<!-- <section id="achivement_sec"
						class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
						<h6>achivements</h6>
						<p class="wow fadeInUp" data-wow-duration=".4s">It always seems impossible until its done.
							Participated in more than 100 contests run online and run by government. I got first prize
							for Logo Design done for a Fashion Brand in 2015, the ceremony held in Germany.</p>
						<div class="achivement-list-wrap margin-top-40">
							<ul class="row">
								<li class="col-sm-6">
									<ul>
										<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s"
											data-wow-delay="0s">
											<span class="dash-pointer">-</span>
											<span class="achive-pts">First Price for Logo Design in Berman Design
												Award</span>
										</li>
										<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s"
											data-wow-delay=".2s"><span class="dash-pointer">-</span><span
												class="achive-pts">Honorable Mention at International Design
												Awards</span></li>
										<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s"
											data-wow-delay=".4s"><span class="dash-pointer">-</span><span
												class="achive-pts">AICB New York, USA</span></li>
										<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s"
											data-wow-delay=".6s"><span class="dash-pointer">-</span><span
												class="achive-pts">International CNDY Awards New York, USA</span></li>
									</ul>
								</li>
								<li class="col-sm-6">
									<ul>
										<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s"
											data-wow-delay="0s"><span class="dash-pointer">-</span><span
												class="achive-pts">Drix Club des Directeurs Artistiques Paris,
												France</span></li>
										<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s"
											data-wow-delay="0.2s"><span class="dash-pointer">-</span><span
												class="achive-pts">A&AD Awards (Yellow & Black Pencils) London,
												UK</span></li>
										<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s"
											data-wow-delay=".4s"><span class="dash-pointer">-</span><span
												class="achive-pts">Global Dffie Awards New York, USA</span></li>
										<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".6s"
											data-wow-delay=".6s"><span class="dash-pointer">-</span><span
												class="achive-pts">The Intercontinental Advertising Award (The Cup)
												(ICAA) Spain</span></li>
									</ul>
								</li>
							</ul>
						</div>
					</section> -->
				<!--/Achivement Sec-->

				<hr class="separater-hr" />

				<!--Contact Sec-->
				<section id="contact_sec" class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad">
					<h6>contact</h6>
					<div data-ng-controller="ContactController" class="align-center wow fadeInUp"
						data-wow-duration=".4s">
						<h3>Hey <span data-ng-bind="formData.inputName||'there'"></span>, I'd love to hear from
							you.</h3>
						<div>
							<form data-ng-submit="submit(contactform, $event)" name="contactform" method="post"
								class="row form-horizontal" role="form">
								<div class="form-group input--hoshi col-sm-6"
									data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
									<div class="input-wrap">
										<input autocomplete="off" data-ng-model="formData.inputName" type="text"
											class="form-control input__field input input__field--hoshi" id="inputName"
											name="inputName" placeholder="Name" required>
										<label
											class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1"></label>
									</div>
								</div>
								<div class="form-group  input--hoshi col-sm-6"
									data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
									<div class="input-wrap">
										<input autocomplete="off" data-ng-model="formData.inputEmail" type="email"
											class="form-control input input__field input__field--hoshi"
											placeholder="Email" id="inputEmail" name="inputEmail" required>
										<label
											class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
									</div>
								</div>
								<div class="form-group  input--hoshi col-sm-12"
									data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
									<div class="input-wrap">
										<textarea data-ng-model="formData.inputMessage"
											class="form-control input input__field input__field--hoshi" rows="4"
											id="inputMessage" name="inputMessage" placeholder="message"
											required></textarea>
										<label
											class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
									</div>
								</div>
								<div class="form-group col-sm-12">
									<div class="align-center">
										<button type="submit" class="btn btn-default"
											data-ng-disabled="submitButtonDisabled">
											<span class="mask"></span>
											<span>send message</span>
										</button>
									</div>
								</div>
							</form>
							<p data-ng-class="result">{{ resultMessage }}</p>
						</div>
					</div>
					<div class="email-direct">
						<p class="wow fadeInRight" data-wow-duration=".4s">Or simply email me at <a
								href="mailto:alekskocev@me.com">alekskocev@me.com</a></p>
					</div>
				</section>
				<!--Contact Sec-->

				<hr class="separater-hr" />

				<!--Footer-->
				<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
					<div class="row">
						<div class="col-sm-6 available-wrap">
							<span class="available-pointer"></span>
							<span class="available-tag">Available for Freelance Projects.</span>
						</div>
						<div class="col-sm-6">
							<div class="social-icons-wrap float-right">

								<!--Social Icons-->
								<!-- <ul class="social-icons float-right">
										<li>
											<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
											</a>
										</li>
										<li>
											<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf099;">&#xf099;</span>
											</a>
										</li>
										<li>
											<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf16e;">&#xf16e;</span>
											</a>
										</li>
										<li>
											<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
											</a>
										</li>
									</ul> -->
								<!--/Social Icons-->

							</div>
							<div class="goto-top text-right float-right">
								<a data-scroll href="#body">
									<span data-hover="top">
										top
									</span>
								</a>
							</div>
							<div class="copywrite-wrap text-right float-right">
								<p class="copywrite">Copyright Aleks Kocev &copy; 2020.</p>
							</div>
						</div>
					</div>
				</footer>
				<!--/Footer-->

			</div>
			<!--/Main Content-->

		</div>
	</div>
	</div>
	<!-- /Container -->

	<!-- Scripts -->
	<script src="js/jquery-1.12.4.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/jquery.placeholder.js"></script>
	<script src="js/smooth-scroll.js"></script>
	<script src="js/countTo.js"></script>
	<script src="js/jQuery.appear.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/typed.js"></script>
	<script src="js/lightgallery-all.js"></script>
	<script src="js/jquery.mousewheel.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/froogaloop2.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/init.js"></script>
</body>

</html>